<?xml version="1.0" encoding="UTF-8"?>
 <web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">  
   <session-config>
<session-timeout>240</session-timeout>
</session-config>
  <servlet>
    <servlet-name>userValidate</servlet-name>
    <servlet-class>controller.UserValidate</servlet-class>
  </servlet>
  <servlet>
    <description>location for user register</description>
    <display-name>register user</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>controller.UserRegister</servlet-class>
  </servlet>
  <servlet>
    <description>location for user judge if login</description>
    <display-name>judge user if login</display-name>
    <servlet-name>JudgeLogin</servlet-name>
    <servlet-class>controller.JudgeLogin</servlet-class>
  </servlet>
  <servlet>
    <description>location for user buy book</description>
    <display-name>buy book</display-name>
    <servlet-name>buyBook</servlet-name>
    <servlet-class>controller.buyBook</servlet-class>
  </servlet>

  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>



  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>filter.CorsFilter</filter-class>
  </filter>
  <servlet-mapping>
    <servlet-name>userValidate</servlet-name>
    <url-pattern>/userValidate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JudgeLogin</servlet-name>
    <url-pattern>/judgeLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>buyBook</servlet-name>
    <url-pattern>/buyBook</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
	<welcome-file-list>
		<welcome-file>/AJsp.jsp</welcome-file>
	</welcome-file-list>
</web-app>